h1= title 
<form method="POST" action="/new">
    p Name: 
    input(
        type='text'
        name='name'
    )
    br
    p Your Message:
    input(
        type='text'
        name='message'
    )
    br
    br
    button SUBMIT
</form>